.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  max-width: 760px;
  margin: 0 auto;
}

.main::before {
  content: "";
  display: block;
  position: fixed;
  width: 300%;
  height: 100%;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  background-color: #f6c90e;
  transform: translateX(-50%) skewY(-8deg);
  z-index: -1;
  animation: animation-main 8s ease-in-out infinite alternate;
  -webkit-animation: animation-main 8s ease-in-out infinite alternate;
}

@keyframes animation-main {
  0% {
    transform: translateX(-50%) skew(0deg, -8deg);
  }

  100% {
    transform: translateX(-30%) skew(8deg, -4deg);
  }
}

.appCard1 {
  width: 360px;
  height: 600px;
  box-shadow: 0 3.2px 2.2px rgba(0, 0, 0, .02),
    0 7px 5.4px rgba(0, 0, 0, .028),
    0 12.1px 10.1px rgba(0, 0, 0, .035),
    0 19.8px 18.1px rgba(0, 0, 0, .042),
    0 34.7px 33.8px rgba(0, 0, 0, .05),
    0 81px 81px rgba(0, 0, 0, .07);
  border-radius: 30px;
  padding: 0 28px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  background-color: white;
}

.appCard1::before {
  content: "";
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: #f6c90e;
  top: -20%;
  left: -50%;
  z-index: 0;
}

.cardTop {
  position: relative;
  margin: 12px 0;
}

.logo {
  display: block;
}

.cardTitle {
  font-size: 24px;
  font-weight: 700;
  margin: 16px 0;
  position: relative;

}

.cardBody {
  height: calc(100% - 98px);
  position: relative;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.cardBody::-webkit-scrollbar {
  display: none;
}

.cardBodyChild:first-child {
  padding-top: 0;
}

.cardBodyChild {
  padding: 40px 0;
}

.cardImage {
  background-color: rgb(225, 231, 237);
  border-radius: 30px;
  height: 380px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.cardImage img {
  width: 100%;
  display: block;
  filter: drop-shadow(0 30px 20px rgba(0, 0, 0, .2));
  transform: rotate(-24deg);
}

.cardName {
  font-size: 20px;
  font-weight: 700;
  margin: 26px 0 20px;
  line-height: 1.5;
}

.cardDescription {
  font-size: 13px;
  color: #777;
  line-height: 1.8;
  margin-bottom: 20px;
}

.cardItemBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardItemPrice {
  font-size: 18px;
  font-weight: 700;
}

.cardItemButton {
  cursor: pointer;
  background-color: #f6c90e;
  font-weight: 700;
  font-size: 14px;
  box-sizing: border-box;
  width: auto;
  height: 46px;
  min-width: 46px;
  padding: 16px 20px;
  border-radius: 100px;
  transition: all 0.25s ease;
  user-select: none;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.cardItemButton:hover {
  background-color: #f8d43f;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, .15);
}

/* use to active */
.cardActive {
  width: 46px;
  pointer-events: none;
  cursor: default;
}

.cardButtonCover {
  width: 16px;
  height: 16px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkIcon {
  position: absolute;
  left: -50%;
}

.spanText {
  float: right;
}

.cardDiv {
  position: absolute;
}

.cardNone {
  font-size: 14px;
}

.cardChoose {
  display: flex;
  padding: 20px 0;
}

.cardItemChooseLeft {
  flex: 0;
}

.cardItemChooseRight {
  flex: 1;
}

.cardItemChooseImage {
  background-color: rgb(225, 231, 237);
  width: 90px;
  height: 90px;
  border-radius: 100%;
  margin-right: 30px;
}

.cardItemChooseImageInside img {
  display: block;
  width: 140%;
  transform: rotate(-28deg) translateY(-40px);
  filter: drop-shadow(0 30px 20px rgba(0, 0, 0, .2));
}

.itemName {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 10px;
}

.itemPrice {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}

.itemAction {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.itemCount {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.itemCountButton {
  cursor: pointer;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 100%;
  background-color: #eee;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.itemCountNumber {
  font-size: 14px;
  margin: 0 8px;
  width: 20px;
  text-align: center;
}

.itemRemove {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: all .25s ease;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6c90e;
  transition: .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(to bottom,
        rgba(var(--background-start-rgb), 1),
        rgba(var(--callout-rgb), 0.5));
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(to bottom,
        transparent 0%,
        rgb(var(--background-end-rgb)) 40%);
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}